.bi-headphones,
.bi-mic-fill,
.bi-vinyl-fill {
    font-size: 100px;
}

.bi-headphones {
    color: rgb(208, 127, 35);
}

.bi-mic-fill {
    color: rgb(0, 0, 0);
}

.bi-vinyl-fill {
    color: rgb(77, 128, 225);
}

.galeria {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;

    padding: 20px;
}

.item {
    height: 250px;

    border-radius: 8px;

    overflow: hidden;

    background-color: lightgray;
}

.item img {
    width: 100%;

    height: 100%;

    object-fit: cover;
}
